@model JordanDeBordProject3.Models.ViewModels.EditListVM

@{
    bool owner = (bool)ViewData["Owner"];
    var ownerName = ViewData["OwnerName"];
    var groceryItem = new CreateGroceryItemVM { GroceryListId=Model.Id};
}

<h1>Owner: @ownerName</h1>

<div id="alertArea" class="alert alert-warning" role="alert" style="display:none">
    <span id="messageArea"></span>
    <button id="alertCloseBtn" type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row">
    <div class="col-md-4">
        @{if (owner)
            {
                <partial name="_EditOwner" model="@Model" />
            }
            else
            {
                <partial name="_EditNonOwner" model="@Model" />
            }
        }
    </div>
</div>
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createGroceryItemModal">
    Add Item
</button>
<partial name="_AddGroceryItemModal" model="@groceryItem" />
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Item Name
            </th>
            <th>
                Quantity to Buy
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody id="edit-list-@Model.Id">

        @foreach (var item in Model.GroceryItems)
        {
            <tr id="edit-row-@item.Id">
                <partial name="_ItemRow" model="@item" />
            </tr>
        }
    </tbody>
</table>
<div>
    <a class="btn btn-primary" asp-action="Index" asp-controller="Home">Back Home</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/groceryListEdit.js" defer></script>
}
